<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
</head>
<body>

<script>
    OmiseCard.configure({
        publicKey: "pkey_test_5lruxk5hhrjbl14lcxn"
    });

    OmiseCard.open({
        amount: {{ amount }},
        currency: "THB",
        defaultPaymentMethod: "credit_card",
        onCreateTokenSuccess: (nonce) => {
            FlutterCallback.postMessage(nonce);
        },
        onFormClosed: () => {
            FlutterCallback.postMessage('Close');
        }
    });
</script>

</body>
</html>